div#menuBar {
	position: fixed;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
	margin-right: auto;
	margin-left: auto;
	padding: 0px 28px 0px 28px;
	z-index: 10001;
	background: #08335e;
	width:100%;
	top: 0px;
	left: 0px;
}

div#menuBar>div {
	display: inline-block;	
	vertical-align:bottom;
}

div#menuBar div[id$="menuPanel"] {
	padding: 10px 28px 10px 28px;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	z-index: 10000;
	left: 0px;
	display: none;
	background: #f4f8fa;
	/*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);*/
	box-shadow: inset 0 8px 10px -8px #333333, 0 8px 10px -8px #333333;
}

#appLogo {
	display: inline-block;	
	vertical-align:middle;
	margin:5px 5px 1px 5px;
}

a {
	text-decoration: none;
}

.fontSize20 {
	font-size: 20px ;
}

#appTitle, .rpfMenuItem {
	display: inline-block;	
	border-bottom: 5px solid  #08335e;
	padding: 15px 30px 15px 30px;
	margin: 0px 1px 1px 0px;
	display: inline-block;
	font-size: 20px !important ;
}

div#menuBar>div>div a, #appTitle, #appHome a {
	font-weight: bold;
	color:white ;
}

.positionLeft {
	float:left;
}

.positionRight {
	float: right;
}

.menuOverlayLevel1 .ui-overlaypanel-content {
	padding: 5px 2px 5px 2px;
	visibility: visible ;
}

.rpfMenuItem:hover, .rpfMenuItem:focus {
	background: #18436d;
	font-weight: bold;
	border-bottom: 5px solid #d7984F;
}

.menu-active-state {
	border-bottom: 5px solid  #d7984F;
	color:white ;
}

.menuPanelSubMenu {
	display: inline-block;
	margin: 10px;
}

.menuPanelSubMenu .ui-datalist-content {
	border: none;
	margin-right: 30px;
}